{
  "policies": {
    "OfferToSaveLogins": false,
    "DisableTelemetry": true,
    "DisableFirefoxStudies": true,
    "DisablePocket": true,
    "DisableAccounts": true,
    "NoDefaultBookmarks": true,
    "Preferences": {
      "network.trr.mode": 5
    }
  }
}
