{
  "IncognitoModeAvailability": 1,
  "BrowserGuestModeEnabled": false,
  "BrowserAddPersonEnabled": false,
  "PasswordManagerEnabled": false,
  "BraveRewardsDisabled": true,
  "BraveWalletDisabled": true,
  "BraveVPNDisabled": true,
  "BraveAIChatEnabled": false,
  "TorDisabled": true,
  "BraveNewsDisabled": true,
  "BraveTalkDisabled": true,
  "BraveSpeedreaderEnabled": false,
  "BraveWaybackMachineEnabled": false,
  "BraveP3AEnabled": false,
  "BraveStatsPingEnabled": false,
  "BraveWebDiscoveryEnabled": false,
  "BravePlaylistEnabled": false,
  "AIModeSettings": 1,
  "AutofillPredictionSettings": 2,
  "CreateThemesSettings": 2,
  "DevToolsGenAiSettings": 2,
  "GenAILocalFoundationalModelSettings": 1,
  "GeminiSettings": 1,
  "HelpMeWriteSettings": 2,
  "HistorySearchSettings": 2,
  "SearchContentSharingSettings": 1,
  "TabCompareSettings": 2,
  "TabOrganizerSettings": 2,
  "TabSearchEnabled": false,
  "DefaultGeolocationSetting": 2,
  "DefaultBrowserSettingEnabled": false,
  "DeveloperToolsAvailability": 2,
  "MetricsReportingEnabled": false,
  "BackgroundModeEnabled": false,
  "SafeBrowsingProtectionLevel": 0,
  "HideFirstRunExperience": true,
  "BuiltInDnsClientEnabled": false,
  "DnsOverHttpsMode": "off",
  "ShowHomeButton": false,
  "ShowCastIconInToolbar": false,
  "BrowserLabsEnabled": false,
  "NTPContentSuggestionsEnabled": false,
  "NTPCustomBackgroundEnabled": false,
  "NTPCardsVisible": false,
  "ProfilePickerOnStartupAvailability": 1,
  "HomepageLocation": "about:blank",
  "BlockThirdPartyCookies": true,
  "BraveDeAmpEnabled": true,
  "BraveDebouncingEnabled": true,
  "BraveReduceLanguageEnabled": true,
  "BraveGlobalPrivacyControlEnabled": true,
  "ExtensionInstallForcelist": [
    "cjpalhdlnbpafiamejdnhcphjbkeiagm;https://clients2.google.com/service/update2/crx",
    "nngceckbapebfimnlniiiahkandclblb;https://clients2.google.com/service/update2/crx",
    "nkbihfbeogaeaoehlefnkodbefgpgknn;https://clients2.google.com/service/update2/crx"
  ],
  "ExtensionSettings": {
    "*": {
      "installation_mode": "blocked",
      "blocked_install_message": "Only administrator-approved extensions are permitted."
    },
    "cjpalhdlnbpafiamejdnhcphjbkeiagm": {
      "toolbar_pin": "default_pinned"
    },
    "nngceckbapebfimnlniiiahkandclblb": {
      "toolbar_pin": "default_pinned"
    },
    "nkbihfbeogaeaoehlefnkodbefgpgknn": {
      "toolbar_pin": "default_pinned"
    }
  },
  "EditBookmarksEnabled": false
}
