{
  "MetricsReportingEnabled": false,
  "UrlKeyedAnonymizedDataCollectionEnabled": false,
  "UrlKeyedMetricsAllowed": false,
  "DomainReliabilityAllowed": false,
  "FeedbackSurveysEnabled": false,
  "UserFeedbackAllowed": false,
  "BrowserNetworkTimeQueriesEnabled": false,
  "AccessibilityImageLabelsEnabled": false,
  "WebRtcEventLogCollectionAllowed": false,
  "ChromeVariations": 1,

  "BrowserSignin": 0,
  "SyncDisabled": true,
  "SigninAllowed": false,
  "SigninInterceptionEnabled": false,
  "BrowserGuestModeEnabled": false,
  "BrowserAddPersonEnabled": false,
  "IncognitoModeAvailability": 1,

  "PrivacySandboxPromptEnabled": false,
  "PrivacySandboxAdTopicsEnabled": false,
  "PrivacySandboxSiteEnabledAdsEnabled": false,
  "PrivacySandboxAdMeasurementEnabled": false,
  "PrivacySandboxIpProtectionEnabled": false,

  "GenAiDefaultSettings": 2,
  "GenAILocalFoundationalModelSettings": 1,
  "BuiltInAIAPIsEnabled": false,
  "AIModeSettings": 1,
  "GeminiSettings": 1,
  "GeminiActOnWebSettings": 1,
  "GeminiSparkSettings": 1,
  "ThirdPartyAiChatSettings": 1,
  "HelpMeWriteSettings": 2,
  "HistorySearchSettings": 2,
  "TabCompareSettings": 2,
  "DevToolsGenAiSettings": 2,
  "VoiceTypingSettings": 2,
  "SearchContentSharingSettings": 1,
  "SmartTabSharingSettings": 1,
  "GoogleSearchSidePanelEnabled": false,

  "HttpsOnlyMode": "allow_growth",
  "HttpsUpgradesEnabled": true,
  "SSLVersionMin": "tls1.2",
  "EncryptedClientHelloEnabled": true,
  "SSLErrorOverrideAllowed": false,

  "BuiltInDnsClientEnabled": false,
  "DnsOverHttpsMode": "off",
  "NetworkPredictionOptions": 2,
  "ProxyMode": "direct",

  "SafeBrowsingProtectionLevel": 1,
  "SafeBrowsingExtendedReportingEnabled": false,

  "DefaultGeolocationSetting": 2,
  "DefaultNotificationsSetting": 2,
  "DefaultMediaStreamSetting": 2,
  "DefaultSensorsSetting": 2,
  "DefaultPopupsSetting": 2,
  "DefaultClipboardSetting": 2,
  "DefaultFileSystemReadGuardSetting": 2,
  "DefaultFileSystemWriteGuardSetting": 2,
  "DefaultWebBluetoothGuardSetting": 2,
  "DefaultWindowManagementSetting": 2,
  "DefaultLocalFontsSetting": 2,
  "DefaultIdleDetectionSetting": 2,
  "AdsSettingForIntrusiveAdsSites": 2,

  "PasswordManagerEnabled": false,
  "PasswordLeakDetectionEnabled": false,
  "AutofillAddressEnabled": false,
  "AutofillCreditCardEnabled": false,
  "AutofillPredictionSettings": 2,
  "PaymentMethodQueryEnabled": false,

  "SpellCheckServiceEnabled": false,
  "SearchSuggestEnabled": false,
  "AlternateErrorPagesEnabled": false,
  "TranslateEnabled": false,

  "NTPContentSuggestionsEnabled": false,
  "MediaRecommendationsEnabled": false,
  "ShoppingListEnabled": false,
  "HistoryClustersVisible": false,
  "SideSearchEnabled": false,

  "BackgroundModeEnabled": false,
  "AutoplayAllowed": false,
  "ComponentUpdatesEnabled": false,
  "DefaultBrowserSettingEnabled": false,
  "PromotionsEnabled": false,
  "BrowserLabsEnabled": false,

  "HideWebStoreIcon": true,
  "ExtensionInstallBlocklist": ["*"],
  "ExtensionInstallAllowlist": ["webextension@metamask.io"],
  "DownloadRestrictions": 1,

  "AlwaysOpenPdfExternally": true,
  "ShowFullUrlsInAddressBar": true,
  "ClickToCallEnabled": false,
  "SharedClipboardEnabled": false,

  "RemoteDebuggingAllowed": false,
  "RemoteAccessHostAllowRemoteAccessConnections": false,
  "RemoteAccessHostFirewallTraversal": false,

  "BrowserThemeColor": "#202124",

  "DefaultSearchProviderEnabled": true,
  "DefaultSearchProviderName": "SearXNG",
  "DefaultSearchProviderSearchURL": "http://127.0.0.1:8080/search?q={searchTerms}",
  "DefaultSearchProviderEncodings": ["UTF-8"],
  "DefaultSearchProviderSuggestURL": "",
  "DefaultSearchProviderNewTabURL": "http://127.0.0.1:8080/"
}
