/* GitHub Dark palette */
* {
    bg: #0d1117;
    background-color: @bg;
}

configuration {
    show-icons: true;
    icon-theme: "Papirus";
    location: 0;
    font: "JetBrainsMono Nerd Font 12";
    display-drun: "Launch:";
}

window {
    width: 45%;
    transparency: "real";
    orientation: vertical;
    border-color: #b3e5fc;
    border-radius: 10px;
}

mainbox {
    children: [inputbar, listview];
}

element {
    padding: 4 12;
    text-color: #d0d7de;
    background-color: #0d1117;
    border-radius: 5px;
}

element selected {
    text-color: #0d1117;
    background-color: #b3e5fc;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}

element-icon {
    size: 16px;
    background-color: inherit;
    padding: 0 6 0 0;
    alignment: vertical;
}

element.selected.active {
    background-color: #0d1117;
    text-color: #d0d7de;
}

element.alternate.normal {
    background-color: #0d1117;
    text-color: #d0d7de;
}

element.alternate.active {
    background-color: #b3e5fc;
    text-color: #0d1117;
}

element.selected.normal {
    background-color: #b3e5fc;
    text-color: #0d1117;
}

element.normal.active {
    background-color: #0d1117;
    text-color: #d0d7de;
}

element.normal.normal {
    background-color: #0d1117;
    text-color: #d0d7de;
}

element.normal.urgent {
    background-color: #D29922;
    text-color: #0d1117;
}

listview {
    columns: 2;
    lines: 9;
    padding: 8 0;
    fixed-height: true;
    fixed-columns: true;
    fixed-lines: true;
    border: 0 10 6 10;
}

entry {
    text-color: #d29922;
    padding: 10 10 0 0;
    margin: 0 -2 0 0;
}

inputbar {
    padding: 10 0 0;
    margin: 0 0 0 0;
}

prompt {
    text-color: #b3e5fc;
    padding: 10 6 0 10;
    margin: 0 -2 0 0;
}
