window#waybar {
    background-color: #16161e;
    color: #c0caf5;
    font-family: "JetBrains Mono", "SF Mono", monospace;
    font-size: 10pt;
    font-weight: 500;
    transition-property: none;
}

#workspaces button {
    padding: 0px 14px;
    color: #444b6a;
    background-color: transparent;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    color: #7aa2f7;
    background-color: #1a1b26;
    border-bottom: 2px solid #7aa2f7;
}

#workspaces button:hover {
    background-color: #1a1b26;
    color: #7aa2f7;
}

#clock {
    color: #c0caf5;
    font-weight: 600;
    padding: 0px 18px;
    letter-spacing: 0.5px;
}

#network,
#battery,
#custom-volume,
#custom-brightness {
    padding: 0px 14px;
    color: #c0caf5;
}

#battery.critical:not(.charging) {
    color: #7aa2f7;
}
