[Unit]
Description=Internet network namespace (veth pair, routing, DNS)
Documentation=https://github.com/anomalyco/linux_setup
After=network.target nftables.service
Wants=nftables.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/lib/setup-internet-netns.sh
ExecStop=/usr/sbin/ip netns del internet-netns

[Install]
WantedBy=multi-user.target
